html, body {
    background-color: rgb(244, 255, 249);
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 100px;
}

.links > a {
    color: #ffffff;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#ffffff;
    color:black;
    text-align: center;
  }

  /* .jumbotron {
    background-image: url(/public/img/imgjumbo.jpg);
    background-size: cover;
    height: 100%;} */

    .jumbotron {
        
        background-size: cover;
      }

td 
{
    height: 50px; 
    width: 50px;
}

#infovenue td,th 
{
    text-align: center; 
    vertical-align: middle;
}

#tdbutton {
    width: 90px;
}

.jumbotron {
    background-image: url("img/imgjumbo.jpg");
    background-size: cover;
    }